###############################################################
# WhiteSource Unified-Agent configuration file
###############################################################
# GENERAL SCAN MODE: Files and Package Managers
###############################################################
# Organization vitals
######################

wss.url=https://saas.whitesourcesoftware.com/agent

############
# Policies #
############

# Whether to send the check policies request before updating mend.
# true: In case of policy violation, the scan will end with ERROR exit code POLICY_VIOLATION (-2).
# false: The scan will end with SUCCESS. Inventory will be updated regardless of policy violations. No policy-related data will be generated.
checkPolicies=false

# Force checks all dependencies.
# NOTE: Used only if checkPolicies and updateInventory is set to True.
# true: Checks all policies for all dependencies introduced to the Mend projects.
# false: Checks only the new dependencies introduced to the Mend projects.
forceCheckAllDependencies=false

# Whether to send an update request.
# true: Sends an update request.
# false: Sends a check policies request to mend without sending the update request; meaning the user will perform checkpolicies request without updating its inventory in mend.
updateInventory=true

# Whether to update organization inventory regardless of policy violations.
# NOTE: Used only if checkPolicies and updateInventory are both set to True.
# true: Updates the project even if the checkPolicies  step failed. App- Update / Exit code- End with SUCCESS / Output- No Error message
# false: In case of a policy violation: App- No update / Exit code- (-2) / Output-end with Error
forceUpdate=false

# Determines whether the Unified Agent exit code will be the result of the policy check or the result of the scan.
# NOTE: Used only if forceUpdate and updateInventory are both set to True.
# true: The Unified Agent exit code will be the result of the policy check, meaning if there is a failure in checkpolicies the exit code is -2.
# false: The Unified Agent exit code will be the result of the scan. (success or failure)
forceUpdate.failBuildOnPolicyViolation=false

# General #
###########
# Generate JSON format report at the end of the scan, which includes information on vulnerabilities, policy violations, top fixes, and inventory details
generateScanReport=true

########################################
# Package Manager Dependency resolvers #
########################################

# Whether to enable or disable by default all dependency resolvers for a scan.
# For example, when the following parameters are set, only npm dependencies will be resolved in this case:
# resolveAllDependencies=false
# npm.resolveDependencies=true
# #maven.resolveDependencies=false
resolveAllDependencies=true

# Comma-delimited list of regular expressions.
# Specify an artifact id or multiple artifact ids (comma-delimited) to exclude the provided tree nodes and their sub-nodes from the scan.
# NOTE: These will not be added to your project inventory.
#excludeDependenciesFromNodes=.*commons-io.*,.*maven-model

# Whether to resolve Gradle dependencies. Requires build.gradle or build.gradle.kts.
gradle.resolveDependencies=true

# Whether to create a single project for all modules.
# A project will be created for each module. The name of the project will be equal to the name of the module (if so, projectName will be ignored).
gradle.aggregateModules=false

# When set to 'wrapper', the Unified Agent will run the 'gradlew' wrapper command. If set to 'gradle', it will use the built-in gradle command.
gradle.preferredEnvironment=wrapper
gradle.wrapperPath=./gradlew

# Enables users to add additional arguments to the Unified Agent's existing commands. The existing commands are gradle dependencies or gradle wrapper dependencies.
# Users can provide any parameters starting with '-' or '--', and Unified Agent will add these at the end
# For example:
#   -Pbranch=dev -PbuildWithSources=false
#   --no-daemon --info
#   -Pbranch=dev -PbuildWithSources=false --no-daemon --info
#gradle.additionalArguments=

# Enables excluding specific modules in the Gradle scan.
# The format is according to the following:
# - Exact modules to exclude. Values should be space delimited. For example: gradle.excludeModules= Dev Prod - exclude scopes named 'Dev' and 'Prod'.
# - Regular expressions. For example: gradle.excludeModules=.*Dev.* excludes all module names that contain (anywhere in their name) the string "Dev".
#gradle.excludeModules=

# Enables including specific modules in the Gradle scan.
# The format is according to the following:
# - Exact modules to include. Values must be space delimited. For example: gradle.includeModules= Dev Prod - include modules named 'Dev' and 'Prod'.
# - Regular expressions. For example: gradle.includeModules=.*Dev.* includes all module names that contains these characters.
#gradle.includeModules=

# Enables you to determine which dependency configurations to include in the scan.
# The format is according to the following: Exact configuration names to include.
# Values should be space-delimited.
# For example:
#   gradle.includedConfigurations= compileOnly testCompileOnly
#   Includes configurations named “compileOnly” and “testCompileOnly”.
# Configurations can include regular expressions.
# For example:
#   gradle.includedConfigurations=.*Only.*
#   Includes all configuration names that contain the string "Only"
#gradle.includedConfigurations=

# Enables you to determine which dependency configurations to ignore in the scan.
# The format is according to the following: Exact configuration names to ignore.
# Values must be space-delimited.
# For example:
#   gradle.ignoredConfigurations= testCompileOnly testRuntimeOnly
#   Ignores configurations named “testCompileOnly” and “testRuntimeOnly”.
# Configurations can use regular expressions.
# For example:
#   gradle.ignoredConfigurations=.*test.*
#   Ignores all configuration names that contain the string "test".
#gradle.ignoredConfigurations=

###########################################################################################
# Includes/Excludes Glob patterns - Please use only one exclude line and one include line #
###########################################################################################

# Performs a file system scan for source files and binaries, in addition to the package manager based dependencies resolution.
# The files to be scanned can be controlled by the includes and excludes parameters and the resolver-specific ignoreSourceFiles parameters.
fileSystemScan=true

# Whether to include specific files in the scan.
# NOTE: This parameter is relevant only for the file system scan, controlled by the fileSystemScan parameter.
includes=**/*.c **/*.cc **/*.cp **/*.cpp **/*.cxx **/*.c++ **/*.h **/*.hpp **/*.hxx **/*.m **/*.mm  **/*.js **/*.php **/*.jar **/*.gem **/*.rb **/*.dll **/*.cs **/*.nupkg **/*.tgz **/*.deb **/*.gzip **/*.rpm **/*.tar.bz2 **/*.zip **/*.tar.gz **/*.egg **/*.whl **/*.py node_modules/*.*

# Whether to exclude specific files from the scan.
# If a directory is specified to be excluded, no manifest files located in the directory will be picked up by the different resolvers.
# Exclude file extensions or specific directories by adding **/*.<extension> or **/<excluded_dir>/**
# NOTE: This parameter is relevant for the file system scan and the package manager resolutions.
#excludes=**/*sources.jar **/*javadoc.jar

# Whether the file system should be case sensitive.
case.sensitive.glob=false

followSymbolicLinks=true
